{{#each gigs as |gig|}}
  {{log gig}}

  <div class="row">
    <h4 data-id="{{gig.id}}"> ID: {{gig.id}} Title: {{gig.title}} </h4>
    {{#if gig.date}}
       Date: {{gig.date}}
       Time: {{gig.time}}
       Time: {{gig.texttime}}
       Description: {{gig.description}}

    {{else}}
      This gig is incomplete.
    {{/if}}
  </div>

{{/each}}
