{{#if gigs}}
{{#each gigs as |gig|}}

  <div class="row">
    <h4 data-id="{{gig.id}}"> id: {{gig.id}} title: {{gig.title}} </h4>
    {{#if gig.id}}
       date: {{gig.date}}
       time: {{gig.texttime}}
       description: {{gig.description}}
       gig creator: {{gig.user.email}}

    {{else}}
      <p> please note, the gig you've requested is incomplete. </p>
    {{/if}}
  </div>
{{/each}}

{{else}}
  there are no gigs at the moment
{{/if}}
