{{#if gigs}}
{{#each gigs as |gig|}}

  <div class="row">
    <h4 data-id="{{gig.id}}"> ID: {{gig.id}} Title: {{gig.title}} </h4>
    {{#if gig.date}}
       Date: {{gig.date}}
       Time: {{gig.time}}
       Time: {{gig.texttime}}
       Description: {{gig.description}}
       Gig creator: {{gig.user.email}}

    {{else}}
      <p> Please note, the request you made could not be processed. </p>
    {{/if}}
  </div>
{{/each}}

{{else}}
  There are no gigs at the moment
{{/if}}
